<h2>Editing Book</h2>
<%= form_for(@book) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title, class: "book_title" %></p>
  <p><%= f.label :body %></p>
  <p><%= f.text_area :body, class: "book_body" %></p>
  <p><%= f.submit 'update book' %></p>
<% end %>

<p>
  <%= link_to 'Show', book_path(@book), class: "show_#{@book.id}" %> | <%= link_to 'Back', books_path, class: "back" %>
</p>