<h2>New Book</h2>
<%= form_for(@new_book) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :body %></p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit 'create book' %></p>
<% end %>